/*Daniel, look into the chapter about utilizing layers in CSS. You could maybe max out the images and set a background color to crop excess space and make an artifical wide aspect ration (16:9)*/

* {
    font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
    line-height: 1.35;
    width: 1280px;
    align-content: center;
}

#dumplings{
    border-top: 5px;
    border-bottom: ;
}

main{
    text-align: center;
}

header {
    font-size: 50px;
}

body{
    text-align: center;
    Margin: 25px, 50px, 75px, 50px;
    background-image: url('beanstalk-dark.webp');
    
}

span{
    font-weight: bold;
}

nav {
    display: grid;
    list-style-type: none;
    text-align: center; 
    padding: 0;
    margin: 0;
    background-color:#e04d4d;
    border-radius: 20px;;
}
 
h1{
    border:10px, double, #d50909;
    background-image: url('contact-img-optional3.jpg');
    color:aliceblue
}

nav li {
    display: inline;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px;
    color:#d7d7d7;
}

a:hover {
    background-color: #dad013;
    border-radius: 20px;
}

h2{
    background-color: #e04d4d;
    height: 70px;
    text-align: center;
    color: aliceblue;
    padding-top: 20px;
    border-bottom: ;
}

h3 {
    border-bottom: 16px;
    color: aliceblue;
}

#teaset{
    width: 800px;
    height: auto;
    align-content: center;
}

div{
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-gap: 0px;
    width: 1280px;
    margin: 0,180px,0180px;
    padding-top: 5em;
    text-align: center;
    align-content:auto;
    border-radius: 20px;
    background-color: #d7d7d7;
    }

.cuisine img , .chef img{
    width:300px;
    height: auto;

}



footer{
    float: none;
    left: 0;
    bottom: 0;
    width:100%
}

section{
    align-content: center;
}

form{
    width:100%;
    margin: 16px, 16px;
    background-color: #e04d4d;
    padding: 16px;
    text-color: black;
    border-radius: 4px;
    text-align:center;
    align-content: center;
    justify-content: center;
    float:none;
}

input, select, textarea, legend{
	display: block;
	width: 90%;
	padding: 10px;
	font-size: 16px;
	border-radius: 4px;
}

label {
	right-margin: 0px;
	bottom-margin: 0px;
	left-margin: 4px;
	line-weight: bold;
}

input, select, textarea{
	padding: 10px;
	font-size: 16px;
	bottom-margin: 24px;
	border-radius: 4px;
	border-style: inset #196774;
}


legend{
	font-weight: bold;
}

fieldset > label{
	left-margin: none;
    align-items: center;
}

input[type=submit]{
	background-color: #d7d7d7;
	color: rgb(0, 0, 0);
	border-width: 0px;
	font-weight: bold;
	font-size: 18px;
    border-top: 5px;
}

input[type=radio]{
    
}